################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sirifef/bin
/Sirifef/MagicDll/x64/Release
/Sirifef/MyDLL/bin
/Sirifef/Sirifef/bin
/Sirifef/Sirifef/x64/Win8.1Release
/Sirifef/Sirifef Package/x64/Win8.1Release
/Sirifef/Sirifef Package/Win8.1Release
/Sirifef/Win8.1Release/Sirifef Package
/Sirifef/x64
